@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@font-face{
    font-family: Hallo_Oyster;
    src: url("/fonts/Hallo_Oyster.otf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    scroll-behavior: smooth;
}

:root{
    --cor-preta: #040404;
    --cor-branca: #f0f8ff;
    --padding-conteudo: 100px 80px;
    --transicao: all .5s ease;
}


/* ------ <HEADER> ------ */
header{
    height: 100vh;
    width: 100%;
    background-color: var(--cor-preta);
    background-image: url(/img/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    display: flex;
    flex-direction: column;
}

header::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: #202020;
    mix-blend-mode: multiply;
}

header .conteudo{
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
    z-index: 1;
}

header .conteudo h1{
    margin: 0 auto;
    color: aliceblue;
    font-family: Hallo_Oyster;
    font-size: 120px;
    font-weight: 100;
}

header .conteudo a img{
    width: 150px;
    margin: 0 50px;
}

header .conteudo a img:hover{
    transform: scale(1.1);
    transition: var(--transicao);
}

header i{
    color: var(--cor-branca);
    z-index: 1000;
    text-align: center;
    font-size: 50px;
    position: relative;
    bottom: -30px;
    animation: bounce 2s ease infinite;
    transition: opacity 0.5s ease;
}

@keyframes bounce {
    70% { transform:translatey(0%); }
    80% { transform:translatey(-100%); }
    90% { transform:translatey(0%); }
    95% { transform:translatey(-10%); }
    97% { transform:translatey(0%); }
    99% { transform:translatey(-5%); }
    100% { transform:translatey(0); }
}
/* ------ <HEADER/> ------ */


/* ------ <NAV> ------ */
nav{
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.5);
    position: sticky;
    top: 0;
    z-index: 999;
}

nav ul{
    display: flex;
    list-style: none;
    padding: 20px 0;
}

nav ul li{
    text-decoration: none;
    margin: 0 15px;
}

nav ul li a{
    text-decoration: none;
    color: var(--cor-branca);
    font-size: 20px;
}

nav ul li:hover{
    transform: scale(1.1);
    transition: var(--transicao);
}

  /* Estilos do menu-hamburguer */
nav .menu-hamburguer {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 998;
}

nav .menu-hamburguer span {
    width: 100%;
    height: 3px;
    background-color: aliceblue;
    transition: all 0.3s ease;
}

/* Transformação para o 'X' */
nav .menu-hamburguer.active span:nth-child(1) {
    transform: rotate(45deg) translate(9px, 9px);
}

nav .menu-hamburguer.active span:nth-child(2) {
    opacity: 0;
}

nav .menu-hamburguer.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Ocultar o menu em dispositivos móveis inicialmente */
nav.navegacao ul {
    display: flex;
    list-style: none;
}
/* ------ <NAV/> ------ */



/* ------ <SOBRE> ------ */
#Sobre{
    background-image: url(/img/bg3.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}


#Sobre::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.9);
    mix-blend-mode: multiply;
    pointer-events: none;
}

#Sobre::after{
    content: '';
    display: block;
    width: 100%;
    height: 127px;
    background-image: url(/img/separaçaodegrade.png);
    background-repeat: repeat-x;
    background-position: left;
    position: absolute;
    bottom: -60px;
    left: 0;
    z-index: 2;
}

#Sobre .conteudo{
    color: var(--cor-branca);
    position: relative;
    display: flex;
    align-items: center;
    padding: var(--padding-conteudo);
    text-align: center;
}


#Sobre .conteudo img{
    width: 300px;
    filter: blur(1px) grayscale(1);
}

#Sobre .conteudo a:hover img{
    transform: scale(1.05);
    filter: blur(0) grayscale(0);
    transition: all .5s ease;
}

#Sobre .conteudo a{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}

#Sobre .conteudo a::before{
    content: '';
    position: absolute;
    border: aliceblue solid 3px;
    top: 0px;
    left:0px;
    right: 0;
    bottom: 6px;
    opacity: 0;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    z-index: 2;
}

#Sobre .conteudo a:hover:before, #Sobre .conteudo a:hover:after{
    opacity: 1;
}

#Sobre .conteudo a::after{
    content: "\f16d";
    font-family: "Font Awesome 5 Brands";
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 40px;
    color: var(--cor-branca);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    padding: 10px;
}

#Sobre .conteudo .textos{
    margin-left: 100px;
}
/* ------ <SOBRE/> ------ */


/* ------ <PORTFOLIO> ------ */
#Portfolio{
    background-image: url(/img/bg1.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

#Portfolio .conteudo{
    text-align: center;
    padding: var(--padding-conteudo);
    color: var(--cor-branca);
}

#Portfolio .conteudo .galeria{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    position: relative;
    overflow: hidden;
}

#Portfolio .conteudo .galeria>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#Portfolio .conteudo .galeria .box{
    width: 200px;
    height: 250px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

#Portfolio .conteudo .galeria .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#Portfolio .conteudo .galeria .box .mascara{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #00000080;
}

#Portfolio .conteudo .galeria .box .icone{
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Portfolio .conteudo .galeria .box .mascara{
    opacity: 0;
}

#Portfolio .conteudo .galeria .box:hover .mascara{
    opacity: 1;
    transition: all .5s;
}

#Portfolio .conteudo .galeria .box::before{
    content: '';
    position: absolute;
    border: aliceblue solid 3px;
    top: 6px;
    left:6px;
    right: 6px;
    bottom: 6px;
    opacity: 0;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    z-index: 2;
}

#Portfolio .conteudo .galeria .box:hover:before{
    opacity: 1;
}

#Portfolio .conteudo .galeria .box:hover img{
    transform: scale(1.2);
    transition: all .5s;
}

#Portfolio .conteudo .galeria .popup{
    opacity: 1;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background: #000000cc;
}

#Portfolio .conteudo .galeria .popup img{
    width: 400px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid var(--cor-branca);
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.5);
}

#Portfolio .conteudo .galeria .popup{
    opacity: 0;
    z-index: -1;
}

.fade-in{
    transition: opacity .5s;
    opacity: 1 !important;
    z-index: 1000 !important;
}
/* ------ <INSTAGRAM> ------ */
#Portfolio .instagram{
    display: flex;
    height: 100px;
    background-color: aliceblue;
    justify-content: space-around;
    align-items: center;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.5);
    z-index: 1;
}

#Portfolio .instagram .conteudo-insta{
    display: flex;
    align-items: center;
}

#Portfolio .instagram .conteudo-insta::before{
    content: '';
    display: block;
    width: 100%;
    height: 100px;
    background-image: url(/img/bg-insta.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    mix-blend-mode: multiply;
    position: absolute;
    left: 0;
    z-index: 1;
}

#Portfolio .instagram .conteudo-insta a{
    text-decoration: none;
    z-index: 2;
}

#Portfolio .instagram .conteudo-insta a img{
    position: relative;
    z-index: 1;
    border-radius: 50%;
}

#Portfolio .instagram .conteudo-insta a:hover img{
    transform: scale(1.1);
    transition: all .5s;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.5);
}

#Portfolio .instagram .conteudo-insta h2{
    color: black;
    margin-left: 50px;
}
/* ------ <INSTAGRAM/> ------ */
/* ------ <PORTFOLIO/> ------ */




/* ------ <CONTATO> ------ */
#Contato{
    background-image: url(/img/bg1.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

#Contato .conteudo{
    text-align: center;
    padding: var(--padding-conteudo);
    color: var(--cor-branca);
    display: flex;
    align-items: center;
    align-items: flex-start;
}

#Contato .conteudo .texto{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
}

#Contato .conteudo .texto a{
    text-decoration: none;
    color: aliceblue;
    border-radius: 10px;
    margin: 10px;
    border: solid 1px aliceblue;
    background-color:transparent;
    padding: 10px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

#Contato .conteudo .texto a i{
    font-size: 25px;
    margin-right: 10px;
}

#Contato .conteudo .texto a:hover{
    transform: scale(1.1);
    transition: all .5s;
    border: solid 1px #0EC143;
    color: #0EC143;
}

#Contato .conteudo .info{
    padding: 0 50px;
    width: 50%;
}

#Contato .conteudo .info p a{
    color: aliceblue;
    text-decoration: none;
}


/* ------ <CONTATO/> ------ */